body {
    background-color: #ffedbf;
    text-align: center;
    color: #00008b;
    font-size: 18px;
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
}

h1 {
    font-size: 36px;
    font-weight: bold;
    color: #000000;
    margin: 20px 0;
}

ul {
    list-style-type: none;
    padding: 0;
    margin: 20px 0;
}

li {
    margin: 10px 0;
}

a {
    text-decoration: none;
    font-weight: bold;
    color: #00008b;
}